/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    

}

.insegna{
    vertical-align: middle;
    font-size: 40px;
    font-weight: 800;
}

main{
    background-color: #f6f8f9;
    padding: 50px;
    
}

.contenitore{
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}


.button-right{
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    color: lightgray;
    border-color: lightgray;
    background-color: white;

}

.button-left{
    padding: 7px;
    border-style: solid;
    border-radius: 5px;
    background-color: #47adf1;
    color: white;
    border: none;
    
}

ul {
    list-style-type: none;
}


.section{
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
    display: inline-block;
}


.text-white{
    color: white;
    border-radius: 10px;
    padding: 7px;
    border: none;
    font-size: 10px;
    background-color: orange;
   
}


.color-violet{
    background-color: violet;
}

.color-green{
    background-color: lightgreen;
}

.color-pink{
    background-color: pink;
}

.color-blue{
    background-color: blue;
}

.color-aqua{
    background-color: aqua;
}





.spunta{
    border-style: solid;
    border-color: #77c8b4;
    border-radius: 50%;
    color: #77c8b4;
    line-height: 50px;
}

 .croce{
    border-style: solid;
    border-color: #f18b86;
    border-radius: 50%;
    color: #f18b86;
    line-height: 50px;
    font-size: 13px;
    
}

 
